.todo-list{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 600px;
}
.todo-input{
  margin-bottom: 20px;
}

ul{
  list-style-type: none;
}
ul li{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-top: 0.5px solid gray;
}

ul li .todo-text{
  margin-left: 10px;
  line-height: 11px;
  cursor: pointer;
}
.footer>span{
  width: 200px;
  float: right;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}